@import "./src/variables/scss/variables";
@import "./src/variables/scss/mixins";


.Button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  user-select: none;
  @include transition_default('box-shadow');
  &:hover {
    box-shadow: none;
  }
}
