@import "./src/variables/scss/variables";
@import "./src/variables/scss/mixins";

.buttonDots {
  position: relative;
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  color: $Gondola;
  border-radius: $border-radius;

}
