@import "../../../variables/scss/mixins";
@import "../../../variables/scss/variables";


.columnsHeader{
  @include flex(flex-end , center);
  position: relative;
  background: $Alto;
  border-radius:$border-radius ;
}
