@import "./src/variables/scss/variables";
@import "./src/variables/scss/mixins";

.addTaskPopup {
  @include popUpBackground();

  &__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $white;
    border-radius: $border-radius;
    padding: 30px;
    max-width: 70%;
    min-width: 400px;
    @include flex(center, flex-start, nowrap, column)
  }

  &__header {
    text-align: center;
    width: 100%;
  }

  &__input,&__textarea {
    width: 100%;
  }

  &__label {
    margin: 15px 0;
    @include flex(center, flex-start, nowrap, column);
    width: 100%;
  }

  &__buttonsWrapper {
    display: flex;
  }

  .Button {
    margin: 0 10px 0 0;
  }

  &__ok {
    background: $Blue;
    color: $white;

    &:hover {
      background: $Blue-hover;
    }
  }

  &__cancel {
    background: $Red;
    color: $white;

    &:hover {
      background: $Red-hover;
    }
  }
}
