@import "./src/variables/scss/variables";

.columnsHeaderSettings {
  &__icon {
    position: relative;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    color: $Gondola;
    border-radius: $border-radius;
    &-active {
      background: $Silver-Chalice;
    }
    &:hover {
      background: $Silver-Chalice;
    }
  }
}
