@mixin flex($justify-content:center,$align-items:center,$flex-wrap:nowrap) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;

}
@mixin transition_default($transition__target:all){
  transition: background ease-in-out 0.2s;
}

//headers
@mixin h5() {
  font-size: 18px;
  padding: 10px 0;
}
