//COLORS
$Alto: #D7D7D7;
$Silver-Chalice: #A9A9A9; //hover of $Alto
$Gray: #838383; //hover of $Silver-Chalice
//----------------------------------------
$Gondola: #2A1717;
$Seashell: #F1F1F1;
$Black: #262626;
$white: #fff8f8;
$Blue: #6e6ef1;
$Blue-hover: #5959c0;
$Red: #ea1e1e;
$Red-hover: #c71e1e;

$popupBackground:rgba(93, 63, 63, 0.74);
$RGBABackground:rgba(93, 63, 63, 0.3);


//STYLING
$box-shadow: 2px 2px 12px rgba(80, 79, 79, .5);


//PX
$border-radius: 6px;






