//COLORS
$Alto: #D7D7D7;
$Silver-Chalice: #A9A9A9; //hover of $Alto
//----------------------------------------
$Gondola: #2A1717;






//STYLING
$box-shadow:3px 3px 12px  rgba(80, 79, 79, .5);


//PX
$border-radius:6px;






