@import "./src/variables/scss/variables";
@import "./src/variables/scss/mixins";

.popup {
  position: absolute;
  z-index: 3;
  right: 0;
  border-radius: $border-radius;
  overflow: hidden;
  padding: 20px;
  background: $Silver-Chalice;
  box-shadow:$box-shadow ;
  user-select: none;

  &__header{
    @include h5();
    text-align: center;
  }

  &__list {
    list-style: none;
  }
  &__link {
    line-height: 35px;
    cursor: pointer;
    padding:10px 15px;
    border-radius: $border-radius;
    @include transition_default(background);
    &:hover{
      background: $Alto;

    }
  }
  &__item{
    padding: 20px;
  }
}
