@import "src/variables/scss/mixins";
@import "src/variables/scss/variables";

.columnHeader {
  @include flex(space-between);
  position: sticky;
  width: 100%;
  top: -20px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  left: 0;
  padding: 5px;
z-index: 3;
  &__taskCount {
    border-bottom: solid 1px $Gray;
    border-right: solid 1px $Gray;
    border-radius: 50%;
    padding: 5px;
    min-width: 30px;
    text-align: center;
    box-shadow: $box-shadow;
    margin: 0 20px;
  }

  &__wrapper {
    @include flex()
  }

  &__add {
    cursor: pointer;
    position: relative;
    padding: 0 8px;
    z-index: 1000;
    @include transition_default(all) ;
    &:after {
      content: '';
      position: absolute;
      min-width: 60px;
      background: $Alto;
      padding:0 2px;
      text-align: center;
      top: -30%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 12px;
      border-radius: $border-radius;
    }


    &:hover {
      &:after {
        content: 'Add Task';
      }
    }
  }
}
